<div id="contact-container">
    <div class="contact-left">
        <h1 class="right-header mobile">Kontakt</h1>
        <h1 class="text-element"> Fehlen Ihnen noch Informationen, die Sie auf unserer Website nicht finden konnten oder wünschen Sie ein kostenloses Beratungsgespräch, dann kontaktieren Sie uns bitte ganz einfach direkt über MAIL oder unser Kontaktformular.</h1>
    </div>
    <div class="contact-right">
        <h1 class="right-header desktop">Kontakt</h1>
        <div class="form-right">
            <form [formGroup]="aFormGroup" class="form-container">
                <mat-form-field class="forname-field" appearance="fill">
                    <mat-label>VORNAME</mat-label>
                    <input matInput formControlName="ForName" required>
                </mat-form-field>
                <mat-form-field class="surname-field" appearance="fill">
                    <mat-label>NACHNAME</mat-label>
                    <input matInput formControlName="SurName" required>
                </mat-form-field>
                <mat-form-field class="email-field" appearance="fill">
                    <mat-label>E-MAIL ADRESSE</mat-label>
                    <input matInput placeholder="pat@example.com" formControlName="Email" required>
                    <mat-error *ngIf="Email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <mat-form-field class="message-field" appearance="fill">
                    <mat-label>NACHRICHT</mat-label>
                    <textarea matTextareaAutosize matAutosizeMinRows="8" matAutosizeMaxRows="8" matInput [(value)]="Message"></textarea>
                </mat-form-field>
                <recaptcha 
                    [size]="'invisible'"
                    [hide]="false">
                </recaptcha>
                <button class="submit-button" mat-raised-button color="primary" (click)="OnSubmit();">Absenden</button>
            </form>
        </div>
    </div>
</div>