@import './src/app/colors.scss';

//#region desktop
.mat-form-field-flex {
    background-color: white !important;
}

#contact-container {
    height: 70vh;
}

.contact-right {
    position: absolute;

    width: 70vw;
    height: 70vh;

    left: 30vw;
}

.form-right {
    position: absolute;
    top: 30%;
    left: 20%;
    width: 60%;
    height: 70%;

    .forname-field {
        position: absolute;
        left: 5%;
        width: 42.5%;
    }

    .surname-field {
        position: absolute;
        left: 52.5%;
        width: 42.5%;
    }

    .email-field {
        position: absolute;
        left: 5%;
        top: 20%;
        width: 90%;
    }

    .message-field {
        position: absolute;
        left: 5%;
        top: 40%;
        width: 90%;
        max-height: 60%;
        resize: none;
    }

    .submit-button {
        position: absolute;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.5vw;

        height: 10%;

        left: 65%;
        top: 88%;
        width: 30%;
    }
}

.right-header {
    position: absolute;

    top: 10%;
    left: 50%;

    transform: translate(-50%, 0);

    font-size: 3vw;
    color: $white;

    text-transform: uppercase;
}

.contact-left {
    position: absolute;

    width: 30vw;
    height: 70vh;
}

.text-element {

    text-align: justify;
    color: $white;
    font-size: 1.5vw;
    font-weight: normal;

    position: absolute;

    width: 80%;

    top: 50%;
    left: 50%;

    transform: translate(-25%, -50%);
}

.desktop {
    display: inline;
}

.mobile {
    display: none;
}

// #endregion


//#region Less 600 px
@media only screen and (max-width: 600px) {

    .desktop {
        display: none;
    }

    .mobile {
        display: inline;
    }

    .mat-form-field-flex {
        background-color: white !important;
    }

    #contact-container {
        height: calc(var(--vh, 1vh) * 80);
    }

    .contact-left {
        position: absolute;

        width: 100vw;
        height: calc(var(--vh, 1vh) * 30);
    }

    .contact-right {
        position: absolute;
        width: 100vw;
        height: calc(var(--vh, 1vh) * 50);
        left: 0%;
        top: calc(var(--vh, 1vh) * 30);
    }

    .form-right {
        position: absolute;
       
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;

        .form-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: space-around;

            width: 100%;
            height: 100%;
        }

        .forname-field {
            margin-right: 2.5%;
            position: relative;
            left: unset;
            top: unset;
        }

        .surname-field {
            margin-left: 2.5%;
            position: relative;
            left: unset;
            top: unset;
        }

        .email-field {
            position: relative;
            left: unset;
            top: unset;
        }

        .message-field {
            position: relative;
            resize: none;
            left: unset;
            top: unset;
        }

        .submit-button {
            position: relative;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 4vw;
            height: 10%;
            left: unset;
            top: unset;
        }
    }

    .right-header {
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, 0);
        font-size: 4.5vh;
        color: #fffaff;
        text-transform: uppercase;
    }

    .text-element {
        position: absolute;
        text-align: justify;
        color: $white;
        font-size: 1.75vh;
        font-weight: normal;
        margin: 0px;

        width: 80%;
        top: 60%;
        left: 50%;

        transform: translate(-50%, -50%);
    }



}

// #endregion
