<div class="footer-container">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1371 510.32">
        <defs>
            <style>
                .footer-element {
                    fill: #474747;
                }
            </style>
        </defs>
        <g id="Ebene_2" data-name="Ebene 2">
            <g id="Ebene_3" data-name="Ebene 3">
                <path class="footer-element" d="M1075.25,26.72c-58,10.81-46.87,12.1-118.54,26.65-186.87,38-353.35,47.63-502.4,40.54q-17.44-.82-34.56-2C261,81.51,122.53,52.43.5,19.41c-.17,0-.33-.1-.5-.13v491H.5v-1.67H1371V0A1583.36,1583.36,0,0,0,1075.25,26.72Z" />
            </g>
        </g>
    </svg>
    <div class="footer-content">

        <fa-stack class="instagram" >
            <fa-icon stackItemSize="1x" (click)="OpenInstagramCommand.Execute();"  class="icon instagram"  [icon]="IconInstagram" [fixedWidth]="true"></fa-icon>
        </fa-stack>

        <fa-stack class="facebook-group" >
            <fa-icon id="facebook-background" stackItemSize="1x" class="facebook-background" [icon]="IconSquare" [fixedWidth]="true"></fa-icon>
            <fa-icon 
            stackItemSize="1x" 
            (mouseout)="OnFacebookExitHoveredCommand.Execute();"
            (mouseenter)="OnFacebookHoveredCommand.Execute();" 
            (click)="OpenFacebookCommand.Execute();" 
            class="icon facebook" 
            [icon]="IconFacebook" 
            [fixedWidth]="true"></fa-icon>
        </fa-stack>
        <img class="logo" src="/assets/Logo/Logo_Element 1@4x_white-neu.png" alt="Webfacture Logo">

        <div class="right-part">
            <span class="clickable">AGB</span>
            <span>/</span>
            <span class="clickable">Impressum</span>
            <span>/</span>
            <span class="clickable">Home</span>
        </div>
    </div>

</div>