@import './src/app/colors.scss';

//#region desktop
.footer-container {
    height: 30vh;
    overflow: hidden;
    position: relative;

    .footer-gear {
        position: absolute;

        top: 75%;
        left: 50%;

        transform: translate(-50%);

        width: 5vw;
    }

    .footer-design-element {
        transform: translate(0px, 30%);
    }

    .icon {
        color: white;
        font-size: 3vw;
        height: 3vw;
        width: 3vw;
        pointer-events: all;

        transition: all 0.5s ease;
    }

    .instagram {
        position: absolute;
        top: 0%;
        left: 8%;
    }

    .ng-fa-icon.instagram:hover {
        color: #bc2a8d;
        text-shadow: 0 0 15px #bc2a8d;
        transition: all 0.5s ease;
        cursor: pointer;
    }

    .facebook-group {
        position: absolute;
        top: 0%;
        left: 12%;
    }

    .facebook-background {
        color: transparent;
        position: absolute;
        top: 0%;
        left: 0%;
        margin-left: 0.01vw;
        margin-top: 0.025vw;
        font-size: 2.95vw;
        height: 2.95vw;
        width: 2.95vw;

        transition: all 0.5s ease;
    }

    .facebook-background-hover {
        color: white;
        transition: all 0.5s ease;
    }

    .ng-fa-icon.facebook-background:hover {
        color: #3b5998;
        text-shadow: 0 0 15px #3b5998;
        transition: all 0.5s ease;
        cursor: pointer;
    }

    .facebook {
        position: absolute;
        top: 0%;
        left: 0%;
    }

    .ng-fa-icon.facebook:hover {
        color: #3b5998;
        text-shadow: 0 0 15px #3b5998;
        transition: all 0.5s ease;
        cursor: pointer;
    }

    .footer-content {
        position: absolute;
        height: 10vh;
        top: 18vh;
        width: 100vw;

        transform: translate(0%, 0%);
    }

    .logo {
        position: absolute;
        height: 120%;

        left: 50%;

        transform: translate(-90%, 0%);
    }

    .right-part {
        position: absolute;
        left: 72%;
        top: 10%;

        font-size: 1.5vw;
        color: white;

        span {
            margin-left: 10px;
            transition: 0.4s;
        }

        .clickable:hover {
            color: $dark-orange;
            cursor: pointer;
        }
    }
}

// #endregion




//#region Less 600 px
@media only screen and (max-width: 600px) {

.footer-container {
    height: 17vh;
    overflow: hidden;
    position: relative;

    .footer-gear {
        position: absolute;

        top: 75%;
        left: 50%;

        transform: translate(-50%);

        width: 5vw;
    }

    .footer-design-element {
        transform: translate(0px, 30%);
    }

    .icon {
        color: white;
        font-size: 10vw;
        height: 10vw;
        width: 10vw;
        pointer-events: all;

        transition: all 0.5s ease;
    }

    .instagram {
        position: absolute;
        top: 0%;
        left: 8%;
    }

    .ng-fa-icon.instagram:hover {
        color: #bc2a8d;
        text-shadow: 0 0 15px #bc2a8d;
        transition: all 0.5s ease;
        cursor: pointer;
    }

    .facebook-group {
        position: absolute;
        top: 50%;
        left: 8%;
    }

    .facebook-background {
        color: transparent;
        position: absolute;
        top: 0%;
        left: 0%;
        margin-left: 0.01vw;
        margin-top: 0.025vw;
        font-size: 2.95vw;
        height: 2.95vw;
        width: 2.95vw;

        transition: all 0.5s ease;
    }

    .facebook-background-hover {
        color: white;
        transition: all 0.5s ease;
    }

    .ng-fa-icon.facebook-background:hover {
        color: #3b5998;
        text-shadow: 0 0 15px #3b5998;
        transition: all 0.5s ease;
        cursor: pointer;
    }

    .facebook {
        position: absolute;
        top: 0%;
        left: 8%;
    }

    .ng-fa-icon.facebook:hover {
        color: #3b5998;
        text-shadow: 0 0 15px #3b5998;
        transition: all 0.5s ease;
        cursor: pointer;
    }

    .footer-content {
        position: absolute;
        height: 10vh;
        top: 5vh;
        width: 100vw;

        transform: translate(0%, 0%);
    }

    .logo {
        position: absolute;
        height: 70%;
        top: 20%;
        left: 50%;

        transform: translate(-50%, 0%);
    }

    .right-part {
        position: absolute;
        left: 72%;
        top: 40%;

        font-size: 2vw;
        color: white;

        span {
            margin-left: 2px;
            transition: 0.4s;
        }

        .clickable:hover {
            color: $dark-orange;
            cursor: pointer;
        }
    }
}
}
// #endregion
