<div id="dotNavContainer">
    <ul class="dotNavList">
        <li (click)="item.Click.Execute();" *ngFor="let item of Items" id="nav-item-{{item.Id}}" class="dotNavItem">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 37 37">
                <defs>
                    <style>
                        .fill_white {
                            fill: #ffff;
                        }

                        .engine {
                            fill: #fff;
                            stroke: #000;
                            stroke-miterlimit: 10;
                            visibility: hidden;
                        }
                    </style>
                </defs>
                <g data-name="Ebene 2">  
                    <path id="nav-icon-{{item.Id}}-none" class="fill_white" d="M 0 18.5 a 18.5 18.5 0 1 0 37 0 a 18.5 18.5 0 1 0 -37 0" />
                    <path id="nav-icon-{{item.Id}}-selected" class="engine" d="M38,23.14v-8H34.1a15.43,15.43,0,0,0-1.57-3.85l2.85-2.84L29.71,2.76,26.9,5.57A15.83,15.83,0,0,0,23,4V0H15V4a15.21,15.21,0,0,0-3.83,1.6L8.3,2.68,2.64,8.35l2.87,2.88A15.85,15.85,0,0,0,4,15H0v8H4A15.44,15.44,0,0,0,5.6,26.94l-2.8,2.8,5.67,5.67,2.84-2.85A15.9,15.9,0,0,0,15,34.07v4h8v-4a15.85,15.85,0,0,0,3.77-1.56l2.86,2.85,5.67-5.67-2.85-2.84A15.59,15.59,0,0,0,34,23.14ZM18.69,26.38a7.37,7.37,0,0,1-7-7V18.7a7.37,7.37,0,0,1,7.25-7h.21a7.36,7.36,0,0,1,7.24,6.77v1.19a7.37,7.37,0,0,1-7,6.76Z" />
                </g>
            </svg>
        </li>
    </ul>
</div>