

#dotNavContainer {

    position: fixed;
    z-index: 1001;

    right: 60px;
    // left: 94vw;
    top: 50%;

    transform: translate(-100%, -50%);

    width: 20px;
    height: auto;
}

.dotNavItem{

    list-style: none;
    width: 1.1vw;
    height: 1.1vw;

    min-width: 20px;
    min-height: 20px;

    margin: 10px;

    svg {
        width: 100%;
        height: 100%;
    }
}