@import '../../app.component.scss';

.content-container {}

#service-container {
    position: relative;
    height: 100vh;

    .left-box {
        border-radius: 15px;
        height: 60%;
        width: 20%;
        top: 25%;
        position: absolute;
        left: 17%;
        background-color: $Color_DarkRed;


    }

    .middle-box {
        border-radius: 15px;
        height: 60%;
        width: 20%;
        top: 25%;
        position: absolute;
        left: 41%;
        background-color: $Color_DarkRed;

    }

    .right-box {
        border-radius: 15px;
        height: 60%;
        width: 20%;
        top: 25%;
        position: absolute;
        left: 65%;
        background-color: $Color_DarkRed;

    }

    a {
        color: $Color_White;
        font-size: 1vw;
    }

    p {
        color: $Color_White;
        font-size: 1.1vw;
        margin-top: 2vw;
        margin-right: 2vw;
        margin-left: 2vw;
    }


    .h1box {
        color: $Color_White;
        font-size: 2vw;
        margin-top: 4vw;
        margin-right: 2vw;
        margin-left: 2vw;
        text-align: center;
    }

    .h1boxright {
        color: $Color_White;
        font-size: 2vw;
        margin-top: 1.5vw;
        margin-right: 2vw;
        margin-left: 2vw;
        text-align: center;
    }


    .page-header {
        position: absolute;
        color: $Color_White;
        font-size: 2.4vw;
        top: 10%;
        left: 50%;
        transform: translate(-50%, 0);

    }

    .button {
        background-color: $Color_DarkGrey;
        border-radius: 8px;
        text-align: center;
        padding: 1em;
        margin-left: 2vw;
        margin-right: 2vw;
        color: $Color_White;
        width: calc(100% - 4vw);
        font-size: 1vw;


    }

    .button-text {
        color: white;
        text-decoration: none;

    }
}

.gear-1 {
    position: absolute;
    width: 15vw;
    transform: translate(-57%, 10%);
}

.gear-2 {
    position: absolute;
    width: 15vw;
    transform: translate(59%, -90%);
    top: 100%;
    right: 0%;
}

.designelement-1 {
    overflow-y: visible;
    position: absolute;
    z-index: -1;
    width: 100%;
    transform: translate(0,-25%);
}
