<div id="service-container">
    <div class="content-container">
        <h1 class="page-header">UNSERE ANGEBOTE</h1>
        <div class="left-box">
            <h1 class="h1box">WEBDESIGN</h1>
            <p>Das Webdesign wird speziell auf Ihr Erscheinungsbild angepasst. Es ist wichtig ein einheitliches Design von Ihrem Unternehmen beizubehalten. Darauf legen wir großen Wert. </p>
            <p>Angefangen vom Logo bis hin zuw Website - wir fertigen alles selbst an.</p>
            <button class="button" mat-raised-button (click)="NavigateToServicesView();">MEHR ERFAHREN</button>
        </div>
        <div class="middle-box">
            <h1 class="h1box">WEBSITE</h1>
            <p>Das Webdesign wird speziell auf Ihr Erscheinungsbild angepasst. Es ist wichtig ein einheitliches Design von Ihrem Unternehmen beizubehalten. Darauf legen wir großen Wert. </p>
            <p>Angefangen vom Logo bis hin zuw Website - wir fertigen alles selbst an.</p>
            <button class="button" mat-raised-button (click)="NavigateToServicesView();">MEHR ERFAHREN</button>
        </div>
        <div class="right-box">
            <h1 class="h1boxright">WEBSITE BETREUUNG</h1>
            <p>Das Webdesign wird speziell auf Ihr Erscheinungsbild angepasst. Es ist wichtig ein einheitliches Design von Ihrem Unternehmen beizubehalten. Darauf legen wir großen Wert. </p>
            <p>Angefangen vom Logo bis hin zuw Website - wir fertigen alles selbst an.</p>
            <button class="button" mat-raised-button (click)="NavigateToServicesView();">MEHR ERFAHREN</button>
        </div>
    </div>
    <svg class="gear-1" id="Ebene_2" data-name="Ebene 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 627 627.38">
        <defs>
            <style>
                .zahnrad1 {
                    fill: #fff;
                    stroke: #000;
                    stroke-miterlimit: 10;
                }
            </style>
        </defs>
        <path class="zahnrad1" d="M1038,855.32A32.32,32.32,0,0,0,1005.68,823H973.45a254.79,254.79,0,0,0-25.76-63.36l24-24a32.31,32.31,0,0,0,0-45.7L924.06,642.3a32.31,32.31,0,0,0-45.7,0l-23.48,23.49A254.71,254.71,0,0,0,791,639.09V606.32A32.32,32.32,0,0,0,758.68,574H691.32A32.32,32.32,0,0,0,659,606.32v32.77a254.92,254.92,0,0,0-63.09,26.23L571.59,641a32.31,32.31,0,0,0-45.7,0l-47.64,47.63a32.31,32.31,0,0,0,0,45.7l24.52,24.52A254.9,254.9,0,0,0,477.09,821H444.32A32.32,32.32,0,0,0,412,853.32v67.36A32.32,32.32,0,0,0,444.32,953h32.77a255.23,255.23,0,0,0,27.07,64.51l-23.26,23.27a32.31,32.31,0,0,0,0,45.7l47.63,47.64a32.31,32.31,0,0,0,45.7,0l24.06-24.06A255,255,0,0,0,659,1134.91v33.15a32.32,32.32,0,0,0,32.32,32.32h67.36A32.32,32.32,0,0,0,791,1168.06v-33.15a254.9,254.9,0,0,0,62.15-25.68l24.17,24.17a32.31,32.31,0,0,0,45.7,0l47.63-47.64a32.31,32.31,0,0,0,0-45.7l-24-24A255.13,255.13,0,0,0,972.37,955h33.31A32.32,32.32,0,0,0,1038,922.68ZM719.81,1008.38A121.26,121.26,0,0,1,604,892.65V881.83A121.25,121.25,0,0,1,723.39,766h3.49A121.27,121.27,0,0,1,846,877.43v19.62a121.27,121.27,0,0,1-115.54,111.33Z" transform="translate(-411.5 -573.5)" />
    </svg>
    <svg class="gear-2" id="Ebene_2" data-name="Ebene 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 627 627.38">
        <defs>
            <style>
                .zahnrad2 {
                    fill: #fff;
                    stroke: #000;
                    stroke-miterlimit: 10;
                }
            </style>
        </defs>
        <path class="zahnrad2" d="M1038,855.32A32.32,32.32,0,0,0,1005.68,823H973.45a254.79,254.79,0,0,0-25.76-63.36l24-24a32.31,32.31,0,0,0,0-45.7L924.06,642.3a32.31,32.31,0,0,0-45.7,0l-23.48,23.49A254.71,254.71,0,0,0,791,639.09V606.32A32.32,32.32,0,0,0,758.68,574H691.32A32.32,32.32,0,0,0,659,606.32v32.77a254.92,254.92,0,0,0-63.09,26.23L571.59,641a32.31,32.31,0,0,0-45.7,0l-47.64,47.63a32.31,32.31,0,0,0,0,45.7l24.52,24.52A254.9,254.9,0,0,0,477.09,821H444.32A32.32,32.32,0,0,0,412,853.32v67.36A32.32,32.32,0,0,0,444.32,953h32.77a255.23,255.23,0,0,0,27.07,64.51l-23.26,23.27a32.31,32.31,0,0,0,0,45.7l47.63,47.64a32.31,32.31,0,0,0,45.7,0l24.06-24.06A255,255,0,0,0,659,1134.91v33.15a32.32,32.32,0,0,0,32.32,32.32h67.36A32.32,32.32,0,0,0,791,1168.06v-33.15a254.9,254.9,0,0,0,62.15-25.68l24.17,24.17a32.31,32.31,0,0,0,45.7,0l47.63-47.64a32.31,32.31,0,0,0,0-45.7l-24-24A255.13,255.13,0,0,0,972.37,955h33.31A32.32,32.32,0,0,0,1038,922.68ZM719.81,1008.38A121.26,121.26,0,0,1,604,892.65V881.83A121.25,121.25,0,0,1,723.39,766h3.49A121.27,121.27,0,0,1,846,877.43v19.62a121.27,121.27,0,0,1-115.54,111.33Z" transform="translate(-411.5 -573.5)" />
    </svg>
    <svg class="designelement-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1691 1562.53">
        <defs>
            <style>
                .hbgrey {
                    fill: #6c6c72;
                    -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
                    filter: drop-shadow(10px 3px 10px rgba(0, 0, 0, .6));
                }
            </style>
        </defs>
        <path class="hbgrey" d="M1691,0V894.55c-166.45,122.21-364.85,224.68-567.14,278.27-190.44,50.45-199,8.5-433.9,72.79-206.6,56.56-357.18,132.06-474.51,197.93-87,48.84-155.74,92.39-215.45,119V930.21C121.47,905,268.41,868,431.77,750.18c80.31-57.93,61.78-61.23,142.28-116.66,258.86-178.25,407-114.1,620.47-232.42,259.35-143.74,208.53-331.42,411.77-387.74A394.8,394.8,0,0,1,1691,0Z" />
    </svg>
</div>