@import './src/app/colors.scss';

.container {
    width: 100vw;
    height: 100vh;
}

.demo-header {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    font-size: 64px;
    color: $white;
}