@import '../../app.component.scss';
@import './src/app/colors.scss';

// #region Desktop

.step {
    height: 100vh;
}

.part-1 {
    color: $Color_White;
    width: 100%;
    font-size: 3vw;
    margin-bottom: 10px;
    font-weight: bold;
}

.part-2 {
    color: $Color_White;
    font-size: 2vw;
    width: 100%;
    text-align: justify;
}

.mac {
    max-width: 50vw;
    max-height: 100%;
    overflow: hidden;
}

.step-1 {
    position: relative;
    overflow: hidden;

    #step-1-svg {
        position: absolute;

        top: 40vh;
        left: 0px;
        #step-1-path {
            opacity: 0;
        }
    }

    .header {
        position: absolute;

        top: 50%;

        transform: translate(0%, -40%);

        order: 2;
        float: left;
        width: 55%;
        height: 35%;
        align-items: center;
        padding-left: 5%;
        padding-right: 5%;
        margin-bottom: 20px;

        .part-1 {
            margin-top: 0px;
        }
    }

    .imageWrapper {
        position: absolute;
        top: 20%;
        height: 70%;
        overflow: hidden;
        width: 100%;

        transform: translate(10%, 0%);
    }

    .mac {
        position: relative;
        float: right;
        order: 1;
        opacity: 1;
    }
}

.step-2 {
    position: relative;

    #step-2-svg {
        position: absolute;

        top: 55vh;
        left: -10%;
        #step-2-path {
            opacity: 0;
        }
    }

    .header {
        position: absolute;

        top: 50%;
        right: 0%;
        transform: translate(0% ,-40%);

        order: 2;
        width: 55%;
        height: 40%;
        padding-left: 5%;
        padding-right: 5%;
        align-items: center;

        .part-1 {
            margin-top: 5px;
        }
    }

    .imageWrapper {
        position: absolute;

        top: 50%;

        height: 70%;
        overflow: hidden;
        width: 100%;

        transform: translate(-10%, -40%);
    }

    .mac {
        position: relative;
        float: left;
        order: 1;
        transform: translate(-60px, 0);
    }
}

.step-3 {
    margin-top: 10vh;
    position: relative;

    .part-request-offer {
        width: 20vw;
        height: 6vh;
        pointer-events: all;
        font-size: 1.6vw;
        
        text-transform: uppercase;
    
        background-color: $light-gray;
    }

    .header {
        position: absolute;

        top: 50%;
        transform: translate(0%,  -40%);

        order: 2;
        float: left;
        width: 55%;
        height: 40%;
        align-items: center;
        padding-left: 5%;
        padding-right: 5%;
        margin-bottom: 10px;

        .part-1 {
            margin-top: 5px;
        }
    }

    .imageWrapper {
        pointer-events: none;
        position: absolute;
        top: 50%;

        height: 70%;
        overflow: hidden;
        width: 100%;

        transform: translate(10%, -40%);
    }

    .mac {
        position: relative;
        float: right;
        order: 1;
        opacity: 1;
    }
}

// #endregion

// #region Less 1200

@media only screen and (max-width: 1400px) {
    .step-2 {
        #step-2-svg {
            top: 60vh;
            left: -15%;
        }
    }
}

// #endregion

//#region Less 600 px

@media only screen and (max-width: 600px) {
    
    .mac {
        max-width: 80vw;
    }
    
    .part-1 {
        color: $Color_White;
        width: 100%;
        font-size: 7vw;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .part-2 {
        color: $Color_White;
        font-size: 4.5vw;
        width: 100%;
        text-align: justify;
    }

    .step-1 {
        position: relative;
        height: 50vh;
        margin-bottom: 10vh;

        #step-1-svg {
            width: 100%;
            top: 65%;
            left: -30%;
        }

        .header {
            top: 20%;
            order: 2;
            float: left;
            width: 100%;
            height: 35%;
            padding-left: 5%;
            padding-right: 5%;
            margin-bottom: 20px;


            .part-1 {
                margin-top: 0px;
            }
        }

        .imageWrapper {
            top: 50%;
            height: 55%;
            overflow: hidden;
            width: 100%;
            transform: translate(12%, 0%);
        }

        .mac {
            position: relative;
            float: right;
            order: 1;
            width: auto;
            height: 100%;
            opacity: 1;
        }
    }

    .step-2 {
        position: relative;
        height: 50vh;

        #step-2-svg {
            top: 70%;
            left: 10%;
        }

        .header {
            top: 20%;
            order: 2;
            float: right;
            width: 100%;
            height: 40%;
            padding-left: 5%;
            padding-right: 5%;
            align-items: center;

            .part-1 {
                margin-top: 5px;
            }
        }

        .imageWrapper {
            top: 50%;
            height: 55%;
            overflow: hidden;
            width: 100%;
            transform: translate(-5%, 0);
        }

        .mac {
            position: relative;
            float: left;
            order: 1;
            height: 100%;
        }
    }

    .step-3 {
        position: relative;
        height: 50vh;

        .part-request-offer {
            display: none;
        }

        .header {
            order: 2;
            float: left;
            top: 20%;
            width: 100%;
            height: 40%;
            align-items: center;
            padding-left: 5%;
            padding-right: 5%;
            margin-bottom: 10px;

            .part-1 {
                margin-top: 5px;
            }
        }

        .imageWrapper {
            top: 50%;
            height: 55%;
            overflow: hidden;
            width: 100%;
            transform: translate(15%, 0%);
        }

        .mac {
            position: relative;
            float: right;
            order: 1;
            height: 100%;
            opacity: 1;
        }
    }
}

// #endregion
