<div class="three-steps-container">
    <div id="step-1" class="step step-1">
        <div id="step-1-text" class="header">
            <p class="part-1">Schritt für Schritt zu Ihrer Website</p>
            <p class="part-2"> Kostenloses Beratungsgespräch einfach und schnell per Mail, Telefon oder über unser Kontaktformular vereinbaren. </p>
        </div>
        <svg id="step-1-svg" xmlns="http://www.w3.org/2000/svg" viewBox="10 0 1373 348.22">
            <defs>
                <style>
                    .step-1-path {
                        fill: transparent;
                        stroke: #6c6c72;
                        stroke-width: 12px;
                        -webkit-filter: drop-shadow(4px 3px 2px rgba(0, 0, 0, .7));
                        filter: drop-shadow(4px 3px 2px rgba(0, 0, 0, .6));
                    }

                    @media only screen and (max-width: 600px) {
                        .step-1-path {
                            stroke-width: 2vh;
                        }
                    }
                </style>
            </defs>
            <path id="step-1-path" class="step-1-path" d="M 1373 0 l 0 14 c -72 45 -253 157 -512 243 C 704 304 558 334 366 322 C 224 310 92 275 1 240 V 227.35 C 129.33 280 275.24 311.09 412.85 314 c 140.26 3 287.41 -19.23 437.38 -66 C 1097.5 170.78 1304.38 48.84 1373 0 Z" />
        </svg>
        <div class="imageWrapper">
            <img id="step-1-mac" class="mac" src="../../../assets/Startseite/WF_COMPUTER1_2021.png" alt="MacBook1">
        </div>
    </div>
    <div id="step-2" class="step step-2">
        <div id="step-2-text" class="header">
            <p class="part-1">Hier stehen Sie im Mittelpunkt!</p>
            <p class="part-2"> Auf Ihre Wünsche, Anforderungen und Vorstellungen wird genau eingegangen und ein Kostenvoranschlag sowie maßgeschneidertes Paket für Sie zusammengestellt. </p>
        </div>
        <svg id="step-2-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1370 765">
            <defs>
                <style>
                    .step-2-path {
                        fill: transparent;
                        stroke: #6c6c72;
                        stroke-width: 12px;
                        -webkit-filter: drop-shadow(4px 3px 2px rgba(0, 0, 0, .7));
                        filter: drop-shadow(4px 3px 2px rgba(0, 0, 0, .6));
                    }

                    @media only screen and (max-width: 600px) {
                        .step-2-path {
                            stroke-width: 2.5vh;
                            transform: translate(5%, 0%);
                        }
                    }
                </style>
            </defs>
            <path id="step-2-path" class="step-2-path" d="M 1370 741 c -92 -183 -191 -318 -346 -424 c -125 -77 -260 -155 -418 -209 C 330 13 91 6 0 7 L 0 0.08 c 91 -1.08 330 5.92 596 89.92 c 158 54 293 132 429 216 c 155 106 254 241 345 428 Z" />
        </svg>
        <div class="imageWrapper">
            <img id="step-2-mac" class="mac" src="../../../assets/Startseite/WF_COMPUTER2_2021.png" alt="MacBook2">
        </div>
    </div>
    <div id="step-3" class="step step-3">
        <div id="step-3-text" class="header">
            <p class="part-1">Ihre individuelle Website wird produziert!</p>
            <p class="part-2"> Nicht mehr lange, und schon bald ist Ihre eigene Website für Ihr Unternehmen fertiggestellt. </p>
            <button class="part-request-offer" mat-raised-button color="primary" (click)="NavigateToContact.Execute();">Angebot Anfordern</button>
        </div>
        <div class="imageWrapper">
            <img id="step-3-mac" class="mac" src="../../../assets/Startseite/WF_COMPUTER3_2021.png" alt="MacBook3">
        </div>
    </div>
</div>