<div id="landing-section-container" class="landing-section-container">
    <div class="design-element-1-2-container">
        <svg class="design-element-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 -260 682 1215">
            <defs>
                <style>
                    .de-1-path-1 {
                        fill: #f15a24;
                        stroke: none;
                        stroke-miterlimit: 10;
                        -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
                        filter: drop-shadow(10px 3px 10px rgba(0, 0, 0, .6));
                    }
                </style>
            </defs>
            <g id="Ebene_2" data-name="Ebene 2">
                <g id="Ebene_2-2" data-name="Ebene 2">
                    <path class="de-1-path-1" d="M586.5,535.94c-10.93,92.37-145.32,163.57-252,156-74.08-5.26-84.6-44.94-183-60C71,619.62,34.07,639.45.5,640.39V.57C42,6.11,89.6,66.1,208.5,78.94c33.18,3.58,35.93-.39,51,6,71.84,30.46,48.59,137.35,134,206,10.48,8.42,16.83,11.64,60,44,37.62,28.2,56.43,42.3,66,51,2,1.82,4,3.74,6,5.74C559,425.08,592.71,483.49,586.5,535.94Z" />
                </g>
            </g>
        </svg>
        <svg class="design-element-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 -5 682 1215">
            <defs>
                <style>
                    .de2-path-1 {
                        fill: none;
                        stroke: #fff;
                        stroke-width: 4px;
                        -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .5));
                        filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
                    }

                    .de2-path-2 {
                        fill: #bc2a0f;
                        -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
                        filter: drop-shadow(10px 3px 10px rgba(0, 0, 0, .6));
                    }
                </style>
            </defs>
            <g id="Ebene_2" data-name="Ebene 2">
                <g id="Ebene_4" data-name="Ebene 4">
                    <path class="de2-path-1" d="M.2.48c31.63,9.94,68,27.92,93.3,62,36.88,49.69,16,87.37,44,132,40.39,64.42,116.17,37.44,256,88,64.2,23.22,182.52,66,244,175,11.74,20.81,64.24,113.89,30,199-45.08,112.07-210.14,134.76-321,150-73.7,10.13-195.61,16.74-346-24.14" />
                </g>
                <g id="Ebene_2-2" data-name="Ebene 2">
                    <path class="de2-path-2" d="M611,618.5c-10.52,21-32.29,43.85-86,59.74-17.88,5.3-39.3,9.82-65,13.26-134.57,18-325.39,43.44-460-53.23v-613C30.51,45.34,66,114.56,81,169.5c11.7,42.77,3.11,48,15,69,30,52.87,98,43.42,240,81,122.21,32.34,168,64.77,183,76,70.23,52.49,87.83,104.42,92,118C616.79,532.38,631,578.57,611,618.5Z" />
                </g>
            </g>
        </svg>
    </div>
    <div class="design-element-4-5-container">
        <svg class="design-element-4" xmlns="http://www.w3.org/2000/svg" viewBox="-200 0 620 590">
            <defs>
                <style>
                    .de4-path-1 {
                        fill: #f15a24;
                        stroke: none;
                        stroke-miterlimit: 10;
                        opacity: 0.73;
                        -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
                        filter: drop-shadow(10px 3px 10px rgba(0, 0, 0, .7));
                    }
                </style>
            </defs>
            <g id="Ebene_2" data-name="Ebene 2">
                <g id="Ebene_1-2" data-name="Ebene 1">
                    <path class="de4-path-1" d="M.61.5H417.26V237.73a146.61,146.61,0,0,0-54-23.23,176.58,176.58,0,0,0-19-3c-150.62-17.32-248-96-248-96C71.09,95.17,9.84,45.68.61.5Z" />
                </g>
            </g>
        </svg>
        <svg class="design-element-5" xmlns="http://www.w3.org/2000/svg" viewBox="-2 0 665 622.98">
            <defs>
                <style>
                    .de5-path-1 {
                        fill: #bc2a0f;
                        -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
                        filter: drop-shadow(10px 3px 10px rgba(0, 0, 0, .7));
                    }

                    .de5-path-2 {
                        fill: none;
                        stroke: #fff;
                        stroke-miterlimit: 10;
                        stroke-width: 4px;
                        -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
                        filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
                    }
                </style>
            </defs>
            <g id="Ebene_2" data-name="Ebene 2">
                <g id="Ebene_1-2" data-name="Ebene 1">
                    <path class="de5-path-1" d="M657.23,0v565c-52.63-17.53-105.2-59.24-126-109-8.94-21.38-3.46-23.79-17-61-12.18-33.48-34.83-95.74-88-130-16.44-10.6-26.67-12.62-74-25-99.65-26.06-149.48-39.09-165-46C105.65,157.73,36.52,65.86,39.23,0Z" />
                </g>
                <g id="Ebene_5" data-name="Ebene 5">
                    <path class="de5-path-2" d="M1.23,0c-2.82,43.35.33,119.37,50.09,175.1,51.43,57.6,136.67,76.18,177.31,85,52,11.34,75.7,6.48,120.21,29a263.31,263.31,0,0,1,84.15,68c33.6,41.22,44.53,80.75,51.09,99,16.7,46.58,58.22,106.59,171.65,166.26" />
                </g>
            </g>
        </svg>
    </div>
    <div class="design-element-3-container">
        <svg class="design-element-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1233.74 1512">
            <defs>
                <style>
                    .cls-1 {
                        fill: #444447;
                        stroke: none;
                        stroke-miterlimit: 10;
                        opacity: 0.5;
                        -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
                        filter: drop-shadow(10px 3px 10px rgba(0, 0, 0, .6));
                    }

                    .cls-2 {
                        fill: #6c6c72;
                        -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
                        filter: drop-shadow(10px 3px 10px rgba(0, 0, 0, .6));
                    }
                </style>
            </defs>
            <g id="Ebene_2" data-name="Ebene 2">
                <g id="Ebene_3" data-name="Ebene 3">
                    <path class="cls-1" d="M1228.74,1484a22.92,22.92,0,0,1-2,5c-30.3,55.42-319.64,9.22-413.55-147a134.68,134.68,0,0,1-9.71-20.15,122.76,122.76,0,0,1-5.08-18.11c-12-58.22,24.18-111.6,18.33-263.27-.89-22.9-2.27-58.66-7.07-101-12.88-113.33-50.34-273.58-168.76-359.1-40.57-29.29-48.94-19.72-141.11-55.24-22.55-8.69-50.12-20.09-84.41-35.41-124.21-55.53-187.23-84.29-232.26-133.49-32.71-35.75-62.2-83.29-79.35-132.51C83.69,166.07,80.54,106.13,109,60.12A150,150,0,0,1,130.74,33l142.66.73c16.24,25.71,26.93,59.21,39.36,85.81,62.33,133.49,196.31,153.63,385,253.93q12.54,6.66,25.18,13.4c123.7,66,253.16,138.37,349.58,245.06,34.08,37.69,64,79.69,88.16,127.18,6.64,13.09,14.88,32.55,24.65,62,15.25,45.94,36.52,125.64,43.46,240.89,1,17.46,1.59,31.72,1.79,45.11.5,34.38-.09,154.81-.56,231.91-.2,33.68-.39,59.09-.45,65.47C1229.25,1434.55,1229,1461.92,1228.74,1484Z" />
                    <path class="cls-2" d="M1233.74,627.83v834.8c-49.09-10.11-94.18-32-124-64.63-51.88-56.82-25.66-111.38-96-228-19-31.58-22.43-30-119-142-33.46-38.8-61.62-71.47-85.62-99.74C757.23,867.12,724.86,826.55,700.74,789c-63.74-99.23-49.41-111.93-106-185-11.15-14.4-37.06-46.63-99-100-20.47-17.64-44.87-37.59-74-60C262.4,321.49,239,339.06,158.74,263a912.19,912.19,0,0,1-62.39-66.8C48.57,139.76-7.65,59.08.86,0H294.73c20.78,38.92,28.87,85.74,84,134,95.6,83.67,170.1,29.42,271,115,48.72,41.33,47.87,68,69.36,111.65,10.23,20.79,25.52,45.43,53.64,77.35,28.47,32.32,126.46,140.69,274,169,9.69,1.86,17.72,3,24.79,3.72,32.77,3.27,45-3.09,106.21,6.28C1197.09,620,1215.84,623.65,1233.74,627.83Z" />
                </g>
            </g>
        </svg>
    </div>
    <div class="logo-container">
        <img class="logo" src="/assets/Logo/Logo_Element 1@4x_white-neu.png" alt="Webfacture Logo">
    </div>
</div>