@import '../../app.component.scss';

.landing-section-container
{
    position: relative;
    width: 100vw;

    min-height: 80vh;

    margin-bottom: -35%;

    overflow: hidden;
}

.design-element-4-5-container {
    position: absolute;

    top: 0px;
    right: 0px;

    width: 40vw;
    height: 50vh;

    .design-element-4 {
        z-index: 10;
        position: absolute;

        right: -4px;
    }

    .design-element-5 {
        z-index: 9;
        position: absolute;

        right: -8px;
    }
}

.design-element-1-2-container {
    position: absolute;

    top: 15%;
    left: 0px;

    width: 45vw;
    height: 100vh;

    .design-element-1 {
        z-index: 10;
        position: absolute;
    }

    .design-element-2 {
        z-index: 9;
        position: absolute;
    }
}

.design-element-3-container {
    width: 100vw;
    overflow: hidden;

    .design-element-3 {
        width: 87%;
        overflow: hidden;

        z-index: 9;
        position: static;

        transform: translate(15%, 0);

        top: 0px;
    }
}

.logo-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;

    .logo {
        position: absolute;
        top: 23%;
        left: 50%;

        width: 41vw;
        height: auto;

        transform: translate(-50%, -50%);
    }
}

//#region Less 1200 px

@media only screen and (max-width: 1200px) {
    
    .design-element-4-5-container {
        position: absolute;

        top: 0px;
        right: 0px;

        width: 40vw;
        height: 25vh;

        .design-element-4 {
            z-index: 10;
            position: absolute;

            right: 0px;
        }

        .design-element-5 {
            z-index: 9;
            right: 0px;
            position: absolute;
        }
    }

    .design-element-1-2-container {
        position: absolute;

        top: 20vh;
        left: 0px;

        width: 45vw;
        height: 30vh;

        .design-element-1 {
            z-index: 10;
            position: absolute;
        }

        .design-element-2 {
            z-index: 9;
            position: absolute;
        }
    }

    .design-element-3-container {
        width: 120vw;
        overflow: hidden;

        .design-element-3 {
            overflow: hidden;

            z-index: 9;
            position: static;

            transform: translate(0%, 0);

            top: 0px;
        }
    }

    .logo-container {
        .logo {
            position: absolute;
            top: 23%;
            left: 50%;

            width: 60vw;
            height: auto;

            transform: translate(-50%, -60%);
        }
    }
}

// #endregion
