<div id="team-view-container" class="team-view-container">
    <h1 class="white-uppercase-header team-view-header">Wer sind wir?</h1>
    <div class="team-member-description">
        <h2 id="member-role" class="white-uppercase-header member-role">{{ SelectedMember?.Role }}</h2>
        <h2 id="member-name" class="white-uppercase-header member-name">{{ SelectedMember?.Name }}</h2>
        <h3 id="motivation-header" class="white-uppercase-header member-fun-fact-header">Motivation:</h3>
        <p id="member-description" class="member-description"> {{ SelectedMember?.Motivation }} </p>
        <h3 id="fun-fact-header" class="white-uppercase-header member-fun-fact-header">Fun-Fact:</h3>
        <p id="member-fun-fact" class="member-description"> {{ SelectedMember?.FunFact }} </p>
    </div>
    <div id="member-opie-container" class="member-opie-container">
        <img class="member-opie" [src]="SelectedMember?.ImagePath">
    </div>
    <div class="right-arrow-container">
        <div id="right-arrow-svg" class="right-arrow" (click)="SelectNextCommand.Execute();">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2 75 120">
                <defs>
                    <style>
                        .right-arrow-stlye {
                            fill: #bc2a0f;
                            stroke: rgba(48,48,54,1);
                            stroke-width: 2px;
                        }
                    </style>
                </defs>
                <g id="Ebene_2" data-name="Ebene 2">
                    <g id="Ebene_4" data-name="Ebene 4">
                        <path id="right-arrow" class="right-arrow-stlye" d="M 66.3 51.45 L 23.847 8.97 a 10.197 10.197 90 0 0 -14.4 0 h 0 a 10.215 10.215 90 0 0 0 14.4 L 44.898 58.794 L 8.97 94.722 a 10.179 10.179 90 0 0 14.4 14.4 l 42.471 -42.48 a 10.107 10.107 90 0 0 1.692 -2.25 A 10.206 10.206 90 0 0 66.3 51.45 Z" />
                    </g>
                </g>
            </svg>
        </div>
    </div>
    <div class="left-arrow-container">
        <div id="left-arrow-svg" class="left-arrow" (click)="SelectPrevCommand.Execute();">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2 75 120">
                <defs>
                    <style>
                        .left-arrow-stlye {
                            fill: #bc2a0f;
                            stroke: rgba(48,48,54,1);
                            stroke-width: 2px;
                        }
                    </style>
                </defs>
                <g id="Ebene_2" data-name="Ebene 2">
                    <g id="Ebene_4" data-name="Ebene 4">
                        <path id="left-arrow" class="left-arrow-stlye" d="M 8.961 66.633 l 42.48 42.48 a 10.197 10.197 90 0 0 14.4 0 h 0 a 10.197 10.197 90 0 0 0 -14.4 L 30.399 59.289 L 66.3 23.361 a 10.179 10.179 90 0 0 -14.4 -14.4 L 9.456 51.45 A 9.9 9.9 90 0 0 7.8 53.7 A 10.206 10.206 90 0 0 8.961 66.633 Z" />
                    </g>
                </g>
            </svg>
        </div>
    </div>
</div>