@import '../../app.component.scss';

.white-uppercase-header {
    text-transform: uppercase;
    color: $Color_White;
}

.team-view-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.team-view-header {
    position: absolute;
    font-size: 3vw;

    top: 5%;
    left: 15%;
}

.team-member-description {
    position: absolute;

    top: 25%;
    left: 15%;

    height: 55%;
    width: 45%;
}

.member-fun-fact-header {
    // opacity: 0;

    font-size: 1.3vw;
}

.member-role {
    margin: 20px 0px 0px 0px;

    font-size: 1.6vw;

    // opacity: 0;
}

.member-name {
    margin: 0px;
    font-size: 2vw;

    // opacity: 0;
}

.member-description {
    color: $Color_White;

    font-size: 1.2vw;
    text-align: justify;

    // opacity: 0;
}

.member-opie-container {
    position: absolute;

    left: 60%;

    width: 40%;
    height: 100%;

    // opacity: 0;
}

.member-opie {

    position: absolute;
    height: 50%;

    top: 50%;
    left: 50%;

    transform: translate(-75%, -50%);
}

.right-arrow-container {
    position: absolute;

    left: 85vw;
    width: 10vw;
    height: 100vh;

    .right-arrow {
        position: absolute;
        top: 50vh;
        height: 10vh;
        width: 3vw;
    
        transform: translate(100%, -50%);

        cursor: pointer;
    }
}



.left-arrow-container {
    position: absolute;

    right: 85vw;
    width: 10vw;
    height: 100vh;

    .left-arrow {
        position: absolute;
        top: 50vh;
        height: 10vh;
        width: 3vw;
    
        transform: translate(100%, -50%);

        cursor: pointer;
    }
}