<div class="menu-container">
    <div class="hamburger-container">
        <div id="burger-button" class="hamburger-slim" (click)="ToggleMenu();">
        </div>
    </div>
    <ul id="menu" class="menu">
        <a class="menuEntry" *ngFor="let item of MenuItems" (click)="item.Click.Execute(); HideMenu(); ">{{item.Text}}</a>
    </ul>

    <div id="logo" class="logo-container">
        <img class="logo" src="/assets/Logo/Logo_Element 1@4x_white-neu.png" alt="Webfacture Logo">
    </div>
</div>