@import './src/app/colors.scss';

.menu-container {
    position: absolute;
    z-index: 11;
    //top: 1vw;
    //left: 1vw;
}

.menu {
    float: left;
    padding: 2vw;
}

.menu a {
    color: white;
    text-align: center;
    padding: 1.5vw;
    transition: 0.4s;
    font-size: 1.5vw;
}

.menuEntry {
    text-transform: uppercase;
}

.menu a:hover {
    color: $dark-orange;
}

.logo-container {
  display: none;
}


@media screen and (max-width: 600px) {

  .logo-container {
    z-index: 11;

    position: absolute;

    top: 80vh;
    width: 100vw;
    height: 10vh;

    opacity: 0;

    .logo {
      position: absolute;
      top: 23%;
      left: 50%;

      width: 60vw;
      height: auto;

      transform: translate(-50%, -60%);
    }
  }

  .logo-active {
    display: inline;
  }

    .menu {
      position: absolute;
      z-index: 10;
      width: 100vw;
      height: 100vh;
      margin: 0px;

      padding-top: 10vh;

      display: none;
      opacity: 0;
    }

    .menu a {
      height: 10vh;
      transition: 0.4s;
      font-size: 8vw;
  }

    .menu-active {
      display: flex;
      flex-direction: column;
      align-items: center;

      background-color: $base-color;
    }

    .hamburger-container {
        z-index: 11;

        position: absolute;

        top: 0px;
        left: 0px;

        width: 100vw;
        height: 10vw;
    }

    .hamburger-slim {
        z-index: 11;
        pointer-events: all;

        background: transparent;
        position: absolute;

        right: 7vw;
        top: 7vw;

        height: 30px;
        width: 45px;

        &:before,
        &:after {
          z-index: 11;
            background: #fff;
            backface-visibility: hidden;
            content: "";
            height: 4px;
            left: 0;
            transition: 0.75s;
            width: 45px;
        }

        &:before {
            box-shadow: #fff 0 14px 0 0;
            position: absolute;
            top: 0;
        }

        &:after {
            position: absolute;
            top: calc(100% - 2px);
        }
    }

    .hamburger-slim-active {
        &:before {
            box-shadow: transparent 0 0 0 0;
            top: 50%;
            transform: rotate(225deg);
        }

        &:after {
            top: 50%;
            transform: rotate(315deg);
        }
    }
}
