<div id="digitalTime-container" class="fairness-container">
    <svg class="WF_S_7-5_2021" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1691 1746.84">
        <defs>
            <style>
                .WF_S_7-5 {
                    fill: #232327;
                    -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
                        filter: drop-shadow(10px 3px 10px rgba(0, 0, 0, .7));
                }
            </style>
        </defs>
        <path class="WF_S_7-5" d="M1282.68,367.28A1762.43,1762.43,0,0,1,1691,439V1746.84c-136.53-128-321.18-267.87-589.7-402.37-317.56-159-601.94-235.19-847.87-296.77Q202.87,1035,154.49,1023c-39.38-9.86-77.67-19.57-114.83-29.45Q19.61,988.25,0,982.84V0C64.94,34.71,135.94,74.39,215.45,114.53c227,114.58,523.37,232.91,946.31,250.12C1234.56,367.61,1223.94,364,1282.68,367.28Z" />
    </svg>
    <svg class="WF_S_14_2021" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 467.49">
        <defs>
            <style>
                .WF_S_14 {
                    fill: #f15a24;
                    -webkit-filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, .7));
                    filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, .6));
                }
            </style>
        </defs>
                <path class="WF_S_14" d="M 310.52 51 V 492.49 c -61.74 -39.81 -130.2 -118.55 -159.46 -152.21 C 80.46 259.06 -9.31 155.81 38.38 86.62 C 77 30.62 197.07 9.35 279.27 37.17 A 191 191 0 0 1 310.52 51 Z" />
    </svg>
    <div class="left-part">Digitales Zeitalter</div>
    <div class="vertical-line"></div>
    <div class="right-part"> Zeit- und Ortsunabhängigkeit sind heutzutage ein MUSS um Ihr Unternehmen gekonnt zu präsentieren. Die erste Anlaufstelle eines Kundens, um sich über ein Unternehmen zu informieren, ist das Internet. Deswegen ist es umso wichtiger eine innovative und einzigartige Website zu haben, um sein Unternehmen zu repräsentieren. </div>
</div>