@import '../../app.component.scss';

// #region desktop

#digitalTime-container {
    position: relative;
    height: 100vh;


    .WF_S_7-5_2021 {
        position: absolute;
        z-index: -2;
    }

    .WF_S_14_2021 {
        position: absolute;
        width: 25vw;
        transform: scale(1, 1);
        right: -10%;
        top: 55%;
    }

    .left-part {
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translate(0, -50%);

        white-space: nowrap;
        color: $Color_White;
        font-size: 3vw;
        font-weight: bold;
    }

    .vertical-line {
        border-radius: 25px;
        position: absolute;
        width: 15px;
        height: 50%;
        top: 26%;
        left: 36%;
        background-color: $Color_White;
    }

    .right-part {
        position: absolute;
        top: 50%;
        left: 40%;
        right: 5%;
        transform: translate(0, -50%);

        color: $Color_White;
        font-size: 2vw;
    }
}

// #endregion

//#region Less 600 px

@media only screen and (max-width: 600px) {

    #digitalTime-container {
        position: relative;
        height: 75vh;

        .WF_S_7-5_2021 {
            position: absolute;
            z-index: -2;
            top: 65%;
            transform: translate(0, -80%);

        }
        
        .WF_S_14_2021 {
            position: absolute;
            width: 40vw;
            transform: scale(1, 1);
            right: -10%;
            top: 80%;
        }

        .left-part {
            position: absolute;
            top: 20%;
            left: 15%;

            white-space: nowrap;
            color: $Color_White;
            font-size: 9vw;
            font-weight: bold;
        }

        .vertical-line {
            display: none;
        }

        .right-part {
            position: absolute;
            top: 50%;
            left: 15%;
            right: 15%;

            color: $Color_White;
            font-size: 4.5vw;
        }


    }
}

// #endregion
