
@media screen and (max-width: 1200px) {

    #dot-nav {
        display: none;
        position: relative;
    }

    #three-steps-to-site {
        display: unset;
        position: relative;
    }

    #our-services {
        display: none;
        position: relative;
    }

    #digital-time {
        display: unset;
        position: relative;
    }

    #team-view {
        display: none;
        position: relative;
    }

    #contact-footer-container {
        display: unset;
        position: relative;
    }
}