<app-dot-nav id="dot-nav"></app-dot-nav>


<app-landing-section id="landing-section"></app-landing-section>


<app-three-steps-to-site id="three-steps-to-site"></app-three-steps-to-site>


<app-our-services id="our-services"></app-our-services>


<app-digital-time id="digital-time"></app-digital-time>


<app-team-view id="team-view"></app-team-view>


<div id="contact-footer-container">
    <app-contact-view></app-contact-view>

    <app-footer></app-footer>
</div>

