/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import 'tippy.js/dist/tippy.css';

$base-color: rgba(48,48,54,1);

.tippy-box {
    font-size: 2vh !important;
    padding: 0.3rem 0.6rem;
  }

html, body
{
    max-width: 100vw;
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
    background-color: $base-color;
    margin: 0px;
    display: inline;
    overflow: hidden;
}

@media screen and (max-width: 1200px) {
    html, body {
        overflow-x: hidden;
        overflow-y: scroll;
        touch-action: pan-y;
    }
}

*
{
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}

svg, g, path
{
    overflow: hidden;
    pointer-events: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

img
{
    pointer-events: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

img, div, a
{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

body 
{ 
    margin: 0;
}
