@import '../app.component.scss';


// #region desktop

.section {
    position: relative;
    width: 100%;
    height: 100vh;



    .left-part {
        position: absolute;
        top: 60%;
        left: 10%;
        transform: translate(0, -30%);

    }


    .right-part {
        position: absolute;
        top: 15%;
        left: 60%;
        right: 5%;
        transform: translate(0, -50%);
    }

    .button {
        border-radius: 8px;
        text-align: center;
        padding: 1em;
        color: $Color_White;
        width: 100%;
        font-size: 1.5vw;

        text-transform: uppercase;
    }
}


.logo {
    position: absolute;
    top: 23%;
    left: 75%;

    width: 20vw;
    height: auto;

    transform: translate(-50%, -50%);
}



p a {
    background: rgba(255, 255, 255, 0);
    border-bottom: 1px solid;
    color: #fff;
    line-height: 1.4;
    padding: .25em;
    text-decoration: none;
}

p a:hover {
    background: white;
    color: #42AACF;
}

.designelement-5 {
    position: absolute;
    z-index: -1;
    width: 100%;
    transform: translate(0, -50%);
}

// #endregion
