  <div class="section">
      <div class="left-part">
          <h1 style="color: white; font-size: 10vw; margin: 10px;">404</h1>
          <h2 style="color: white; font-size: 3vw; margin: 10px;">Seite nicht gefunden.</h2>
          <button class="button" mat-raised-button color="primary" (click)="NavigateToHome();">Zurück zur Startseite</button>
      </div>
      <div class="right-part">
          <img class="logo" src="/assets/Logo/WF_Logo_white.png" alt="Logo">
      </div>
  </div>
  <svg class="designelement-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1233.74 1512">
      <defs>
          <style>
              .bg4041,
              .bg4042 {
                  fill: #bc2a0f;
              }

              .bg4041 {
                  stroke: #fff;
                  stroke-miterlimit: 10;
                  opacity: 0.5;
              }
          </style>
      </defs>
              <path class="bg4041" d="M1228.74,1484a22.92,22.92,0,0,1-2,5c-30.3,55.42-319.64,9.22-413.55-147a134.68,134.68,0,0,1-9.71-20.15,122.76,122.76,0,0,1-5.08-18.11c-12-58.22,24.18-111.6,18.33-263.27-.89-22.9-2.27-58.66-7.07-101-12.88-113.33-50.34-273.58-168.76-359.1-40.57-29.29-48.94-19.72-141.11-55.24-22.55-8.69-50.12-20.09-84.41-35.41-124.21-55.53-187.23-84.29-232.26-133.49-32.71-35.75-62.2-83.29-79.35-132.51C83.69,166.07,80.54,106.13,109,60.12A150,150,0,0,1,130.74,33l142.66.73c16.24,25.71,26.93,59.21,39.36,85.81,62.33,133.49,196.31,153.63,385,253.93q12.54,6.66,25.18,13.4c123.7,66,253.16,138.37,349.58,245.06,34.08,37.69,64,79.69,88.16,127.18,6.64,13.09,14.88,32.55,24.65,62,15.25,45.94,36.52,125.64,43.46,240.89,1,17.46,1.59,31.72,1.79,45.11.5,34.38-.09,154.81-.56,231.91-.2,33.68-.39,59.09-.45,65.47C1229.25,1434.55,1229,1461.92,1228.74,1484Z" />
              <path class="bg4042" d="M1233.74,627.83v834.8c-49.09-10.11-94.18-32-124-64.63-51.88-56.82-25.66-111.38-96-228-19-31.58-22.43-30-119-142-33.46-38.8-61.62-71.47-85.62-99.74C757.23,867.12,724.86,826.55,700.74,789c-63.74-99.23-49.41-111.93-106-185-11.15-14.4-37.06-46.63-99-100-20.47-17.64-44.87-37.59-74-60C262.4,321.49,239,339.06,158.74,263a912.19,912.19,0,0,1-62.39-66.8C48.57,139.76-7.65,59.08.86,0H294.73c20.78,38.92,28.87,85.74,84,134,95.6,83.67,170.1,29.42,271,115,48.72,41.33,47.87,68,69.36,111.65,10.23,20.79,25.52,45.43,53.64,77.35,28.47,32.32,126.46,140.69,274,169,9.69,1.86,17.72,3,24.79,3.72,32.77,3.27,45-3.09,106.21,6.28C1197.09,620,1215.84,623.65,1233.74,627.83Z" />
  </svg>